<div class = 'errors'>
  <div class = 'error_item'>
    <%= image_tag 'errors/404.png' %>
    <p>お探しのページは見つかりません。</p>
  </div>
</div>
<style>
html, body{
  width: 100%;
  height: 100%
}
.errors{
  display: flex;
  justify-content: center;
  align-items: center;
}
.error_item{
  text-align: center;
}
